body{
    margin: 0;
}

.header{
    background-image: url(./imagens/header\ img.png);
    width: 100%;
    height: 70px;
    position: fixed;
    background-repeat: no-repeat;
    /* height: 100vh; */
    background-size: cover;
}

.container{
    display: flex;
    width: 100%;
    /* margin-bottom: 11px; */
    padding-bottom: 11px;
    margin-top: -11px;
}

.header .container{
    justify-content: space-between;
    align-items: center;
}

.header .container .infos{
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.navBar{
    color: #03071e;
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.navbar li{
    padding: 5px;
    /* border-bottom: 10px; */
}

.banner{
    background-image: url(./imagens/tela\ inicial.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}



.bemVindo{
    display: flex;
    padding: 70px 15px 0px 15px;
    background-color: #000814;
    justify-content: center;
}


.bemVindo .infos{
    padding-left: 56px;
    margin-top: 100px;
}

.bemVindo .infos .titulo{
    color: #ffeea5;
    font-size: 50px;
    width: 70%;

}

.bemVindo .infos .textos{
    color: white;
    font-size: 20px;
    width: 75%;
}

.sobreNos{
    background-color: #ffeea5;
    padding: 70px 15px 0px 15px;
}

.imgSaxofone{
    padding: 0px;
    margin-left: -71px;
    margin-top: -148px;
}

.sobreNos h1{
    display: flex;
    justify-content: center;
    color: #03071e;
    font-size: 40px;
}

.sobreNos .card .texto{
    border: 2px solid #0000007e;
    border-style: solid;
    padding-left: 15px;
    width: 93%;
    height: 130px;
    margin-right: 1px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.valores{
    width: 100%;
    height: 30px;
    }
    
    .valores{
        background-color: #03071e;
        height: 100%;   
        color: #ffeea5;
           display: flex;
           /* flex-direction: row-reverse;
           background-repeat: no-repeat;
           height: 135vh;
           background-image: url(./imagens/imgPartituras.png); */
           justify-content: center;
    }

    .valores .img{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        /* background-color: red; */
    }
    
    .valores h1{
        display: flex;
        justify-content: center;
        /* color: #03071e; */
        font-size: 51px;
    }
    
    .valores .info{
        margin-left: 85px;
        /* margin-right: 20px; */
        display: flex;
     }
    
    .valores .card .texto{
        border: 2px solid #ffeea5;
        border-style: solid;
        padding-left: 10px;
        width: 476px;
        height: 83px;
        /* border-left: 20px; */
        /* margin-left: 56px;    */
        /* background-color: aquamarine; */
    }
    
    .cardContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: red; */
        width: 387px;
    }
    
    .partituras{
        display: flex;
        justify-content: flex-end;
        /* background: url(); */
        align-items: flex-start;
    }
    .card{
        display: flex;
    }